* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Jockey One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #d4145b;
  background-color: #e4e4e4;
}

.pagina {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  hr {
    margin-top: 15px;
    margin-bottom: 100px;
    margin-left: 150px;
    width: 78%;
    border: none;
    border-top: 7px solid #a2ca02;
  }

  .imgsecao1 {
    height: 80vh;
    width: 100%;
    margin-top: auto;
  }
}

.secao2 {
  width: 100%;
  height: 100vh;
  background-color: #f8b62f;
  padding-top: 125px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  z-index: 2;
  h2 {
    font-size: 100px;

    margin-bottom: 50px;
    padding-left: 114px;
    text-align: end;
  }
}

.secao2textos{
  padding-left: 200px;
  display: flex;
  flex-direction: column; 
  width: 50%;

  
  .quadrado{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1000px;
    background-color: #A2CA02;

    position: relative;
    right: -1200px;
    top: -800px;
    label{
      font-size: 50px;
      color: #1331A1;
    }

    .textodoquadrado
    {
      font-size: 50px;
      color: #1331A1;
      margin: 100px 400px 50px 0px;
    }

  }
  
}

input.decimaa[type="decima"] {
  height: 150px;
  width: 800px;
  padding: 7px;
  font-size: 25px;
  color: #1331a1;
  font-family: "Jockey One", sans-serif;
  border: 2px solid #1331a1;
  border-radius: 10px;
  margin-bottom: 18px;
}

.decimaa::placeholder{

  color: #1331a1;
}
button {
  background-color: #f31366;
  color: white;
  border-radius: 25px;
  font-size: 20px;
  font-family: "Jockey One", sans-serif;
  font-weight: 200px;
  font-style: normal;
  border: none;
  margin-top: 10px;
}

header {
  height: 20%;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  ol {
    display: flex;
    list-style: none;
    li {
      padding-left: 25px;
      font-size: 30px;
      a {
        text-decoration-line: none;
        color: #d4145b;
      }
    }
  }

  img {
    position: relative;
    height: 100px;
    margin: 25px 0px 0px 0px;
  }
}

.divCards {
  position: relative;
  top: -200px;
  margin-bottom: -100px;
  color: #1331a1;
  display: flex;
  justify-content: center;
  gap: 50px 90px;
  padding-left: 365px;

  .card {
    
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #f4f4f4;
    width: 40vh;
    height: 55vh;
    border-radius: 18px;
    box-shadow: 5px 8px 10px rgb(190, 190, 190);
    
    .nomezinho{
      width: 100%;
      display: flex;
      align-items: center;
    }
    
    .data{
      padding-left: 10px;
    }
    
    button{
    
      margin-top: 20px;
      height: 10%;
      width: 40%;
    }
    .img2{
      margin-top: 0px;
      width: 90%;
      height: 400px;  
    }

    .logodindin{
      position: relative;
      top: -28px;
      width: 15%;
      height: 10vh; 
      margin: 0px 10px 0px 5px;
      
    }

    .logocalendar{
      margin-left: 25px;
      width: 15%;
      height: 5vh;
    }
    h3 {
      font-size: 40px;
      margin-top: 15px;
    }

    h4 {
      margin-top: 0px;
      font-size: 15px;
      font-weight: 6;
     
    }
  }
}

footer {
  width: 100%;
  margin-top: auto;
}

.direitos {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 40px;
  color: white;
  background-color: #a2ca02;
}

.secao3 {
  padding-top: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
 
  h4{
    color: #1331A1;
    font-size: 60px;
  }

  img{
    padding-top: 60px;
  }

  button{
    height: 7%;
    width: 15%;
    font-size: 25px;
  }
}

button:hover {
  background-color: #770c34;
}
.enviaremail {
  width: 65%;
  margin-top: 40px;
}

input.enviaremail[type="email"] {
  padding: 7px;
  font-size: 25px;
  color: #1331a1;
  font-family: "Jockey One", sans-serif;
  border: 2px solid #1331a1;
  border-radius: 10px;
  margin-bottom: 18px;
}

.enviaremail::placeholder {
  color: #1331a1;
}
