* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body {
  font-family: "Jockey One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #d4145b;
  background-color: #e4e4e4;
}

.pagina {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  hr {
    margin-top: 15px;
    margin-bottom: 100px;
    margin-left: 150px;
    width: 80%;
    border: none;
    border-top: 7px solid #a2ca02;
  }

  .imgsecao1 {
    width: 80%;
    height: 80vh;
    margin-top: 25px;
    margin-bottom: 200px;
  }
}

.secao2 {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;

  h2 {
    font-size: 50px;
    margin-left: 230px;
    margin-bottom: 100px;
  }
}

header {
  height: 20%;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  ol {
    display: flex;
    list-style: none;
    li {
      padding-left: 25px;
      font-size: 30px;
      a{
        text-decoration-line: none;
        color: #d4145b;
      }
    }
  }

  img {
    height: 100px;
    margin: 25px 0px 0px 0px;
  }
}

.divCards {
  color: #1331a1;
  display: flex;
  justify-content: center;
  gap: 200px;
  .card {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #f4f4f4;
    width: 30vh;
    height: 50vh;
    border-radius: 25px;
    box-shadow: 5px 8px 10px rgb(190, 190, 190);

    button {
      background-color: #f31366;
      height: 10%;
      width: 40%;
      color: white;
      border-radius: 25px;
      font-size: 20px;
      font-family: "Jockey One", sans-serif;
      font-weight: 200px;
      font-style: normal;
      border: none;
      margin-top: 20px;
    }
    .img2{
      margin-top: 0px;
      width: 80%;  
    }

    .logodindin{
      position: relative;
      bottom: 35px;
      right: 60px;
      width: 10%; 
    }
    h3 {
      font-size: 30px;
      margin-top: 15px;
    }

    h4 {
      margin-top: 10px;
      font-size: 22px;
      font-weight: 6;
    }
  }
}

.direitos {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 120px;
  color: white;
  background-color: #a2ca02;
  margin-top: 100px;

  width: 100%;
}
